<template>
  <div>
    <div id="editor_base">
      <div
        v-for="(block, i) in blocks"
        :key="i"
        :class="`block_row ${focus == i ? 'focused' : ''}`"
      >
        <div class="block_main_layer">
          <span
            class="editor_menu_items"
            :style="`${open_block_type == i? 'width: 100%;' : ''} height: 20px;`"
          >
            <svg class="icon-plus addBlock" viewBox="0 0 100 100" @click="toggle_block_types(i)">
              <line
                x1="10"
                y1="50"
                x2="90"
                y2="50"
                stroke-width="15"
                v-if="i == focus && blocks[i].content.length<1"
              />
              <line
                x1="50"
                y1="10"
                x2="50"
                y2="90"
                stroke-width="15"
                v-if="i == focus && blocks[i].content.length<1"
              />
            </svg>

            <span id="left_menu">
              <transition name="custom-classes-transition" enter-active-class="animated tada">
                <svg
                  id="left_menu"
                  v-if="open_block_type == i"
                  class="icon-plus"
                  height="20"
                  width="20"
                  @click="set_block_type('header1', i)"
                  @mouseover="set_tooltip({text: `${language == 'ru_RU' ? 'Заголовок' : 'Header'}`, i: i})"
                  @mouseleave="tooltip=null"
                >
                  <g font-size="15" font-family="sans-serif" text-anchor="middle">
                    <text x="10" y="15">H</text>
                  </g>
                </svg>
              </transition>
              <transition name="custom-classes-transition" enter-active-class="animated tada">
                <svg
                  v-if="open_block_type == i"
                  class="icon-plus"
                  height="20"
                  width="20"
                  @click="set_block_type('paragraph', i)"
                  @mouseover="set_tooltip({text: `${language == 'ru_RU' ? 'Параграф' : 'Paragraph'}`, i: i})"
                  @mouseleave="tooltip=null"
                >
                  <g font-size="15" font-family="sans-serif" text-anchor="middle">
                    <text x="10" y="15">P</text>
                  </g>
                </svg>
              </transition>
              <transition name="custom-classes-transition" enter-active-class="animated tada">
                <svg
                  v-if="open_block_type == i"
                  class="icon-plus"
                  height="20"
                  width="20"
                  @click="set_block_type('containers', i)"
                  @mouseover="set_tooltip({text: `${language == 'ru_RU' ? 'Контейнер' : 'Container'}`, i: i})"
                  @mouseleave="tooltip=null"
                >
                  <g font-size="15" font-family="sans-serif" text-anchor="middle">
                    <text x="10" y="15">C</text>
                  </g>
                </svg>
              </transition>
              <transition name="custom-classes-transition" enter-active-class="animated tada">
                <svg
                  v-if="open_block_type == i"
                  class="icon-plus"
                  height="20"
                  width="20"
                  @click="set_block_type('delimiter', i)"
                  @mouseover="set_tooltip({text: `${language == 'ru_RU' ? 'Разделитель' : 'Delimiter'}`, i: i})"
                  @mouseleave="tooltip=null"
                >
                  <path stroke-width="3" d="M0 10 l 9 0 m 2 0 l 9 0" />
                </svg>
              </transition>
              <transition name="custom-classes-transition" enter-active-class="animated tada">
                <svg
                  v-if="open_block_type == i"
                  class="icon-plus"
                  width="20"
                  height="20"
                  @click="set_block_type('quotes', i)"
                  @mouseover="set_tooltip({text: `${language == 'ru_RU' ? 'Цитата' : 'Quote'}`, i: i})"
                  @mouseleave="tooltip=null"
                >
                  <path d="M10 8 q -3 8 -5 8 l -2 -2 q 5 -5 4 -5" stroke-width="1" />
                  <path d="M17 8 q -3 8 -5 8 l -2 -2 q 5 -5 4 -5" stroke-width="1" />
                  <circle cx="7" cy="8" r="3" />
                  <circle cx="14" cy="8" r="3" />
                </svg>
              </transition>
            </span>
          </span>
          <textarea
            v-if="open_block_type != i && blocks[i].type=='paragraph'"
            class="input_block"
            spellcheck="false"
            :type="block.type"
            name="block"
            :value="block.content"
            :id="`input_block${i}`"
            v-model="blocks[i].content"
            @keyup.enter="add_block(i)"
            @keyup.backspace="delete_block(i)"
            :style="`height: ${get_textarea_height(i)}px;`"
            @focus="focus = i"
          />
          <textarea
            v-if="open_block_type != i && blocks[i].type.includes('header')"
            spellcheck="false"
            :class="`input_block ${blocks[i].type}`"
            :type="block.type"
            name="block"
            :value="block.content"
            :id="`input_block${i}`"
            v-model="blocks[i].content"
            @keyup.enter="add_block(i)"
            @keyup.backspace="delete_block(i)"
            :style="`height: ${get_textarea_height(i)}px;`"
            @focus="focus = i"
          />
          <div class="delimiter_block" v-if="blocks[i].type == 'delimiter'">***</div>
          <div class="quote_block" v-if="blocks[i].type == 'quotes'">
            <textarea
              spellcheck="false"
              :class="`input_block ${blocks[i].type} quote_block_quote`"
              :type="block.type"
              name="block"
              :value="block.content"
              :id="`quote_block_quote${i}`"
              v-model="blocks[i].content"
              @keyup.enter="focus_quotes_author(i, $event)"
              @keyup.backspace="delete_block(i)"
              @click="set_quote_lines(i)"
              @focus="set_quote_lines(i)"
              :style="`height: ${get_textarea_height(i)}px;`"
            />
            <input
              v-model="blocks[i]['author']"
              :id="`quote_author${i}`"
              spellcheck="false"
              class="quote_block_author"
              type="text"
              @keyup.enter="add_block(i)"
            />
          </div>
          <div v-if="blocks[i].type == 'containers'" class="containers_cotainer">
            <div
              class="container_container"
              v-for="(container, index) in blocks[i].content.containers"
              :key="index"
              :style="`width:${100 / (blocks[i].content.containers.length)}%; minHeight: 20px; ${index != 0? 'borderLeft: solid 2px rgb(0, 119, 255)' : ''}`"
            >
              <ColumnContainer
                :language="language"
                style="width: 100%;"
                @column_data="set_column_data"
                :column_index="index"
                @set_container_focus="set_container_focus"
                @focus_container_block="focus_container_block(i)"
                :init_data="blocks[i].content.containers[index].blocks"
              />

              <div class="right_container_container" style="width: 20px;">
                <svg
                  class="icon-plus addBlock"
                  width="20"
                  heighy="20"
                  @click="add_container(i, index)"
                >
                  <circle
                    cx="10"
                    cy="10"
                    r="5"
                    stroke-width="1"
                    fill="none"
                    v-if="blocks[i].content.containers.length<4"
                  />
                  <line
                    x1="5"
                    y1="10"
                    x2="15"
                    y2="10"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length<4"
                  />
                  <line
                    x1="10"
                    y1="5"
                    x2="10"
                    y2="15"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length<4"
                  />
                </svg>
                <svg class="icon-plus" width="20" heighy="20" @click="delete_container(i, index)">
                  <line
                    x1="5"
                    y1="10"
                    x2="6"
                    y2="17"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="15"
                    y1="10"
                    x2="14"
                    y2="17"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="6"
                    y1="17"
                    x2="14"
                    y2="17"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="8"
                    y1="10"
                    x2="8"
                    y2="17"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="12"
                    y1="10"
                    x2="12"
                    y2="17"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="3"
                    y1="10"
                    x2="17"
                    y2="10"
                    stroke-width="1"
                    v-if="blocks[i].content.containers.length>2"
                  />
                  <line
                    x1="6"
                    y1="8"
                    x2="14"
                    y2="8"
                    stroke-width="2"
                    v-if="blocks[i].content.containers.length>2"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="right_menu_container dropdown" :style="`${open_block_type == i? '' : ''}`">
            <div class="dropdown-content" v-if="right_menu" @mouseleave="right_menu = false">
              <RightMenu
                @position_up="position_up(i)"
                @position_down="position_down(i)"
                :block_info="{blocks_length: blocks.length, block_position: i}"
                :submenu_type="blocks[i].type"
                @set_block="set_header_from_right_menu"
              />
            </div>

            <svg
              class="icon-plus"
              width="20"
              height="20"
              v-if="i == focus "
              @click="right_menu = true"
            >
              <circle cx="10" cy="4" r="2" />
              <circle cx="10" cy="10" r="2" />
              <circle cx="10" cy="16" r="2" />
            </svg>
          </div>
        </div>

        <div class="under_block_layer">
          <transition
            name="custom-classes-transition"
            enter-active-class="animated pulse"
            leave-active-class="animated fadeOut"
          >
            <div
              v-if="tooltip && i==open_block_type"
              class="tooltip"
              :style="`marginLeft:${(tooltip.i+1)*20}px`"
            >{{tooltip.text}}</div>
          </transition>
        </div>
      </div>
      <div class="under_editor_area" @click="add_block(blocks.length - 1)"></div>
    </div>
  </div>
</template>

<script>
import RightMenu from "../src/RightMenu.vue";
import ColumnContainer from "../src/column.vue";
export default {
  components: {
    RightMenu,
    ColumnContainer
  },
  props: {
    language: {
      type: String,
      default: "ru_RU"
    }
  },
  data() {
    return {
      blocks: [{ type: "paragraph", content: "" }],
      focus: 0,
      open_block_type: null,
      tooltip: null,
      right_menu: false,
      quote_lines: {},
      focused_column: null
    };
  },
  watch: {
    blocks: {
      deep: true,
      handler(val, oldVal) {
        this.$emit("onChange", this.blocks_output);
      }
    }
  },
  computed: {
    blocks_output() {
      return { blocks: [...this.blocks] };
    }
  },
  methods: {
    async add_block(index) {
      await this.blocks.splice(index + 1, 0, {
        type: "paragraph",
        content: ""
      });
      this.focus = index + 1;
      document.getElementById(`input_block${index + 1}`).focus();
      this.prevent_close_on_add_icon();
    },
    async delete_block(index) {
      if ((this.blocks[index].content.length == 0) & (this.blocks.length > 1)) {
        await this.blocks.splice(index, 1);
        if (this.blocks[index - 1].type == "delimiter") {
          await this.blocks.splice(index - 1, 1);
          if (index == 1) {
            await this.add_block(-1);
          } else {
            if (this.blocks[index - 1].type != "containers") {
              this.focus = index - 2;
              document.getElementById(`input_block${index - 2}`).focus();
            }
          }
        } else {
          if (this.blocks[index - 1].type != "containers") {
            document.getElementById(`input_block${index - 1}`).focus();
            this.focus = index - 1;
          }
        }
      }
    },
    set_tooltip(input) {
      this.tooltip = { text: input.text, i: input.i };
    },
    toggle_block_types(i) {
      if (i != this.open_block_type) {
        this.open_block_type = i;
      } else {
        this.open_block_type = null;
      }
    },
    async set_block_type(type, index) {
      if (type == "delimiter") {
        this.blocks[index].type = type;
        await this.add_block(index);
      } else if (type == "quotes") {
        this.quote_lines["number"] = 1;
        this.quote_lines["text"] = "";
      } else if (type == "containers") {
        this.focus = index;
        this.blocks[index].content = {
          containers: [
            { blocks: [{ type: "paragraph", content: "" }] },
            { blocks: [{ type: "paragraph", content: "" }] }
          ]
        };
      }
      {
        this.blocks[index].type = type;
        // await this.toggle_block_types(index);
        if ((await this.open_block_type) == null) {
          this.focus = index;
          document.getElementById(`input_block${index}`).focus();
        }
      }
      this.blocks[index].type = type;
      // await this.toggle_block_types(index);
      if ((await this.open_block_type) == null) {
        this.focus = index;
        document.getElementById(`input_block${index}`).focus();
      }
    },
    async get_textarea_height(i) {
      if (this.blocks[i].type == "quotes") {
        await document.getElementById(`quote_block_quote${i}`);

        document.getElementById(`quote_block_quote${i}`).style.cssText =
          "height: 21px;";
        document.getElementById(`quote_block_quote${i}`).style.cssText =
          "height:" +
          document.getElementById(`quote_block_quote${i}`).scrollHeight +
          "px";
        document
          .getElementById(`quote_block_quote${i}`)
          .addEventListener("quote_block_quote", function(e) {
            var key = e.which || e.keyCode;
            if (key === 13) {
              event.preventDefault();
            }
          });
      } else {
        await document.getElementById(`input_block${i}`);
        document.getElementById(`input_block${i}`).style.cssText =
          "height: 21px;";
        document.getElementById(`input_block${i}`).style.cssText =
          "height:" +
          document.getElementById(`input_block${i}`).scrollHeight +
          "px";
        document
          .getElementById(`input_block${i}`)
          .addEventListener("keypress", function(e) {
            var key = e.which || e.keyCode;
            if (key === 13) {
              event.preventDefault();
            }
          });
      }
    },
    async close_left_menu() {
      this.toggle_block_types(this.focus);
      if ((await this.open_block_type) == null) {
        if (this.blocks[this.focus].type == "quotes") {
          document.getElementById(`quote_block_quote${this.focus}`).focus();
        } else {
          document.getElementById(`input_block${this.focus}`).focus();
        }
      }
    },
    set_header_from_right_menu(input) {
      this.right_menu = false;
      this.blocks[this.focus].type = input;
      document.getElementById(`input_block${this.focus}`).focus();
    },
    prevent_close_on_add_icon() {
      const add_icons = document.getElementsByClassName(`addBlock`);

      for (let i = 0; i < add_icons.length; i++) {
        add_icons[i].addEventListener("click", async function(ev) {
          ev.stopPropagation();
        });
      }
    },
    set_quote_lines(index) {
      this.quote_lines["number"] = this.blocks[index].content.split(
        /\r\n|\r|\n/
      ).length;
      this.quote_lines["text"] = this.blocks[index].content;
    },
    focus_quotes_author(index, e) {
      if (
        this.blocks[index].content.split(/\r\n|\r|\n/).length ==
          this.quote_lines.number + 1 &&
        this.quote_lines.text.length + 1 == this.blocks[index].content.length
      ) {
        this.quote_lines = {};
        return document.getElementById(`quote_author${index}`).focus();
      }
      this.quote_lines["number"] = this.blocks[index].content.split(
        /\r\n|\r|\n/
      ).length;
      this.quote_lines["text"] = this.blocks[index].content;
    },
    async delete_container(i, index) {
      let old_containers = this.blocks[i].content.containers;

      let left_part = old_containers.slice(0, index);

      let right_part = old_containers.slice(index + 1);

      this.blocks[i].content.containers = [...left_part];
      if (
        await (this.blocks[i].content.containers.length === left_part.length)
      ) {
        this.blocks[i].content.containers = [
          ...this.blocks[i].content.containers,
          ...right_part
        ];
      }
    },
    async add_container(i, index) {
      let old_containers = this.blocks[i].content.containers;

      let left_part = old_containers.slice(0, index + 1);

      let right_part = old_containers.slice(index + 1);

      this.blocks[i].content.containers = [...left_part];
      if (
        (await this.blocks[i].content.containers.length) === left_part.length
      ) {
        let new_right_part = [
          {
            blocks: [{ type: "paragraph", content: "" }]
          },
          ...right_part
        ];
        console.log(new_right_part, "Ovo je novi desni");

        for (let ind = 0; ind < new_right_part.length; ind++) {
          this.blocks[i].content.containers.push(new_right_part[ind]);
        }
      }
    },
    set_container_focus(data) {
      this.focused_column = data;
    },
    set_column_data(data) {
      let columns = [...this.blocks[this.focus].content.containers];

      columns.splice(this.focused_column, 1);
      columns.splice(this.focused_column, 0, { ...data.data });
      this.blocks[this.focus].content.containers = [...columns];
    },
    position_up(i) {
      let help_block = this.blocks[i];
      this.blocks[i] = this.blocks[i - 1];
      this.blocks[i - 1] = help_block;
      this.right_menu = false;
    },
    position_down(i) {
      let help_block = this.blocks[i];
      this.blocks[i] = this.blocks[i + 1];
      this.blocks[i + 1] = help_block;
      this.right_menu = false;
    },
    set_tap_open_menu() {
      let elements = document.getElementsByClassName(`input_block`);
      for (let i = 0; i < elements.length; i++) {
        elements[i].addEventListener("keypress", async function(ev) {
          // console.log(ev);
        });
      }
    },
    save() {
      this.$emit("save", this.blocks_output);
    },
    focus_container_block(i) {
     
      this.focus = i;
    }
  },
  mounted() {
    this.right_menu = false;
    document.getElementById(`input_block0`).focus();
    this.prevent_close_on_add_icon();
    this.set_tap_open_menu();

    const _this = this;
    window.addEventListener("click", async function(ev) {
      if (_this.open_block_type !== null) {
        _this.close_left_menu();
      }
    });
  }
};
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.1");
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

.header1 {
  font-size: 32px;
}

.header2 {
  font-size: 24px;
}

.header3 {
  font-size: 18.72px;
}

.header4 {
  font-size: 16px;
}

.header5 {
  font-size: 13.28px;
}

.header6 {
  font-size: 10.72px;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.icon-plus {
  height: 20px;
  stroke: rgb(94, 93, 93);
  fill: rgb(94, 93, 93);
  cursor: pointer;
}
.icon-plus:hover {
  height: 20px;
  stroke: rgb(0, 119, 255);
  fill: rgb(0, 119, 255);
  transform: scale(1.2);
}
#editor_base {
  min-height: 200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: left;
}

.focused {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(234, 243, 247, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(26%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 243, 247, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(234, 243, 247, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(234, 243, 247, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(234, 243, 247, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 26%,
    rgba(234, 243, 247, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaf3f7', GradientType=1 );
}

.right_menu_container {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  width: 20px;
}

.input_block {
  width: 94%;
  color: rgb(61, 61, 61);
  vertical-align: center;
  background-color: transparent;
  border-style: none;
  overflow: hidden;
}
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
  height: 21px;
}

.icon {
  color: rgb(41, 41, 41);
  cursor: pointer;
}

.icon-header {
  mask: url(/icons8-title-50.svg);
}

.block_row {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.d_none {
  display: none;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  margin-left: 25px;
  position: absolute;
  padding: 3px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  text-align: center;
}

.under_block_layer {
  display: flex;
  justify-content: start;
}

.block_main_layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: -160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.delimiter_block {
  color: rgb(61, 61, 61);
}

.quote_block {
  width: 93%;
}

.quote_block_quote {
  border: solid 1px rgba(61, 61, 61, 0.5);
  border-radius: 5px;
  min-height: 80px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  background-color: transparent;
}

.quote_block_author {
  width: 100%;
  border-radius: 5px;
  border: solid 1px rgba(61, 61, 61, 0.5);
  padding: 5px;
  color: rgba(61, 61, 61);
  background-color: transparent;
  overflow: hidden;
}

input:focus {
  outline: none !important;
}

input {
  outline: none !important;
}

.containers_cotainer {
  display: flex;
  flex-direction: row;
  width: 93%;
}

.container_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right_container_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.under_editor_area {
  height: 40px;
  width: 100%;
  cursor: copy;
}

.editor_menu_items {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
</style>