<template>
  <div class="right_menu_content">
    <div class="right_menu_content_row_perm">
      <svg
        viewBox="0 0 32 32"
        class="icon-plus"
        aria-hidden="true"
        v-if="block_info.block_position != 0"
        @click="$emit('position_up')"
      >
        <path
          d="M17.504 26.025l.001-14.287 6.366 6.367L26 15.979 15.997 5.975 6 15.971 8.129 18.1l6.366-6.368v14.291z"
        />
      </svg>
      <svg
        viewBox="0 0 32 32"
        class="icon-plus"
        aria-hidden="true"
        v-if="block_info.block_position != block_info.blocks_length - 1"
        @click="$emit('position_down')"
      >
        <path
          d="M14.496 5.975l-.001 14.287-6.366-6.367L6 16.021l10.003 10.004L26 16.029 23.871 13.9l-6.366 6.368V5.977z"
        />
      </svg>
    </div>
    <div class="right_menu_content_row" v-if="submenu_type.includes('header')">
      <button
        v-on:click="set_block('header1')"
        :class="submenu_type == 'header1' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H1</button>
      <button
        @click="set_block('header2')"
        :class="submenu_type == 'header2' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H2</button>
      <button
        @click="set_block('header3')"
        :class="submenu_type == 'header3' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H3</button>
    </div>
    <div
      class="right_menu_content_row"
      style="marginTop: 2px;"
      v-if="submenu_type.includes('header')"
    >
      <button
        @click="set_block('header4')"
        :class="submenu_type == 'header4' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H4</button>
      <button
        @click="set_block('header5')"
        :class="submenu_type == 'header5' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H5</button>
      <button
        @click="set_block('header6')"
        :class="submenu_type == 'header6' ? 'right_menu_content_button_selected' : 'right_menu_content_button'"
      >H6</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    submenu_type: {
      type: String,
      required: true
    },
    block_info: {
      type: Object,
      required: true
    }
  },
  methods: {
    set_block(input) {
      this.$emit("set_block", input);
    }
  }
};
</script>

<style>
.right_menu_content {
  display: flex;
  flex-direction: column;
}

.right_menu_content_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right_menu_content_row_perm {
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right_menu_content_button {
  border: solid 1px rgb(94, 93, 93);
  border-radius: 4px;
  padding: 2px;
  width: 30px;
  color: rgb(94, 93, 93);
}

.right_menu_content_button_perm {
  border: solid 1px rgb(94, 93, 93);
  border-radius: 4px;
  color: rgb(94, 93, 93);
  width: 20px;
  height: 20px;
}

.right_menu_content_button_selected {
  border: solid 1px rgb(0, 119, 255);
  border-radius: 4px;
  width: 30px;
  color: rgb(0, 119, 255);
}

.right_menu_content_button:hover {
  transform: scale(1.1);
  width: 30px;
  border: solid 1px rgb(0, 119, 255);
  color: rgb(0, 119, 255);
}

.right_menu_content_button_perm:hover {
  transform: scale(1.1);
  border: solid 1px rgb(0, 119, 255);
  color: rgb(0, 119, 255);
}
</style>